* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.img {
  width: 500px !important;
}
.main {
  width: 100%;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    margin-top: 10px;
    margin-bottom: 10px;
}
.body{
  width: 100vw;
  height: 100vh; 
}